<%- include('./partials/header')-%>

  <body>
    <div class="container mt-3">
      <div>
        <h1 style="color:blue;">Productos generados con Faker.js</h1>
        <br>

        <%- include('./tabla-test')-%>

      </div>
    </div>
    <script src="../js/main.js"></script>
  </body>

  <%- include('./partials/footer')-%>