<h2 class="my-4 h2">Ingresar juego a su colección</h2>
<form action="/api/productos" method="POST" class="d-flex flex-column">
	<div class="form-floating mb-3">
		<input class="form-control" type="text" name="title" id="title" />
		<label for="title">
			Titulo:
		</label>
	</div>
	<div class="form-floating mb-3">
		<input class="form-control" type="text" name="price" id="price" />
		<label for="price">
			Precio:
		</label>
	</div>
	<div class="form-floating mb-3">
		<input class="form-control" type="text" name="thumbnail" class="mb-3" id="thumbnail" />
		<label for="thumbnail">
			Thumbnail:
		</label>
	</div>
	<button type=" submit" class="btn btn-success mb-3">Cargar</button>
</form>