<h2>Ingrese los datos del nuevo juego</h2>
<form action="/api/productos" method="POST">
	<label for="title">
		{{title}}:
	</label>
	<input type="text" name="title" />

	<label for="price">
		{{price}}:
	</label>
	<input type="text" name="price" />

	<label for="title">
		{{thumbnail}}:
	</label>
	<input type="text" name="thumbnail" />
	<button type="submit">Cargar</button>
</form>